@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$line-height: calc(2px + 2.1ex + 2px);
$font: 'Roboto', sans-serif;


$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .875rem;
$smaller-font-size: .813rem;
$font-medium: 500;
$font-semi-bold: 600;

